# Are the Chicago Bears Playing (RTCBP)?

In [1]:
#import config
import tweepy
import requests
from bs4 import BeautifulSoup
import datetime
from datetime import datetime, timedelta, date
from dateutil.parser import parse
import pandas as pd
import random
import os
import mlbgame
import lxml.etree as etree
from time import sleep
from googlesearch import search

In [2]:
todays_date = date.today()
print("Current year:", todays_date.year)
print("Current month:", todays_date.month)
print("Current day:", todays_date.day)

Current year: 2021
Current month: 9
Current day: 15

# Find out f the bears are playing today
Sportsipy- [NFL documentation](https://sportsreference.readthedocs.io/en/stable/nfl.html)

## Find teams

In [3]:
from sportsipy.nfl.teams import Teams

teams = Teams(todays_date.year)
teams

San Francisco 49ers (SFO)
New Orleans Saints (NOR)
Arizona Cardinals (CRD)
Houston Texans (HTX)
Los Angeles Rams (RAM)
Las Vegas Raiders (RAI)
Kansas City Chiefs (KAN)
Detroit Lions (DET)
Philadelphia Eagles (PHI)
Tampa Bay Buccaneers (TAM)
Dallas Cowboys (DAL)
Cleveland Browns (CLE)
Seattle Seahawks (SEA)
Denver Broncos (DEN)
Baltimore Ravens (RAV)
Cincinnati Bengals (CIN)
Minnesota Vikings (MIN)
Pittsburgh Steelers (PIT)
Jacksonville Jaguars (JAX)
Los Angeles Chargers (SDG)
Carolina Panthers (CAR)
Miami Dolphins (MIA)
Washington Football Team (WAS)
New England Patriots (NWE)
Indianapolis Colts (CLT)
Buffalo Bills (BUF)
New York Jets (NYJ)
Chicago Bears (CHI)
Tennessee Titans (OTI)
New York Giants (NYG)
Atlanta Falcons (ATL)
Green Bay Packers (GNB)

## Pull the Chicago Bears (CHI) schedule

In [22]:
from sportsipy.nfl.schedule import Schedule

date_times_ls = []
date_times_clean_ls = []
dates_ls = []
days_ls = []


purdue_schedule = Schedule('CHI')
for game in purdue_schedule:
    date_times_ls.append(datetime.strptime(str(game.datetime), '%Y-%m-%d %H:%M:%S').strftime('%Y-%m-%d %H:%M:%S'))
    date_times_clean_ls.append(datetime.strptime(str(game.datetime), '%Y-%m-%d %H:%M:%S').strftime('%m/%d/%y'))
    dates_ls.append(game.date)
    days_ls.append(game.day)

In [23]:
print(date_times_ls)
print(date_times_clean_ls)
print(dates_ls)
print(days_ls)

['2021-09-12 00:00:00', '2021-09-19 00:00:00', '2021-09-26 00:00:00', '2021-10-03 00:00:00', '2021-10-10 00:00:00', '2021-10-17 00:00:00', '2021-10-24 00:00:00', '2021-10-31 00:00:00', '2021-11-08 00:00:00', '2021-11-21 00:00:00', '2021-11-25 00:00:00', '2021-12-05 00:00:00', '2021-12-12 00:00:00', '2021-12-20 00:00:00', '2021-12-26 00:00:00', '2022-01-02 00:00:00', '2022-01-09 00:00:00']
['09/12/21', '09/19/21', '09/26/21', '10/03/21', '10/10/21', '10/17/21', '10/24/21', '10/31/21', '11/08/21', '11/21/21', '11/25/21', '12/05/21', '12/12/21', '12/20/21', '12/26/21', '01/02/22', '01/09/22']
['September 12', 'September 19', 'September 26', 'October 3', 'October 10', 'October 17', 'October 24', 'October 31', 'November 8', 'November 21', 'November 25', 'December 5', 'December 12', 'December 20', 'December 26', 'January 2', 'January 9']
['Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Mon', 'Sun', 'Thu', 'Sun', 'Sun', 'Mon', 'Sun', 'Sun', 'Sun']

In [24]:
df = pd.DataFrame(list(zip(date_times_ls, date_times_clean_ls, dates_ls, days_ls)),
               columns =['date_time', 'date_time_clean', 'date', 'day'])
df

              date_time date_time_clean          date  day
0   2021-09-12 00:00:00        09/12/21  September 12  Sun
1   2021-09-19 00:00:00        09/19/21  September 19  Sun
2   2021-09-26 00:00:00        09/26/21  September 26  Sun
3   2021-10-03 00:00:00        10/03/21     October 3  Sun
4   2021-10-10 00:00:00        10/10/21    October 10  Sun
5   2021-10-17 00:00:00        10/17/21    October 17  Sun
6   2021-10-24 00:00:00        10/24/21    October 24  Sun
7   2021-10-31 00:00:00        10/31/21    October 31  Sun
8   2021-11-08 00:00:00        11/08/21    November 8  Mon
9   2021-11-21 00:00:00        11/21/21   November 21  Sun
10  2021-11-25 00:00:00        11/25/21   November 25  Thu
11  2021-12-05 00:00:00        12/05/21    December 5  Sun
12  2021-12-12 00:00:00        12/12/21   December 12  Sun
13  2021-12-20 00:00:00        12/20/21   December 20  Mon
14  2021-12-26 00:00:00        12/26/21   December 26  Sun
15  2022-01-02 00:00:00        01/02/22     January 2  Sun
16  2022-01-09 00:00:00        01/09/22     January 9  Sun

## Step 1: Get Game ID

In [25]:
url = []
query = f"espn bears game id {todays_date.month}/{todays_date.day}/{todays_date.year}"
 
for j in search(query, tld="co.in", num=10, stop=10, pause=2):
    url.append(j)
    game_id = url[0].rsplit('/', 1)[-1]

In [27]:
url

['https://www.espn.com/nfl/team/schedule/_/name/chi',
 'https://www.espn.com/nfl/boxscore/_/gameId/401326323',
 'https://www.espn.com/nfl/game/_/gameId/401326622',
 'https://www.espn.com/nfl/game/_/gameId/401326617',
 'https://www.espn.com/nfl/game/_/gameId/401326365',
 'https://www.espn.com/nfl/recap/_/gameId/401326622',
 'https://www.espn.com/nfl/game/_/gameId/401326405',
 'https://www.espn.com/nfl/game/_/gameId/401326129',
 'https://www.espn.com/nfl/game/_/gameId/401220395',
 'https://www.espn.com/nfl/boxscore/_/gameId/401326622']

## Step 2: Get Scoring Plays

In [ ]:
main_url = f'https://www.espn.com/nfl/game/_/gameId/{game_id}'
page = uReq(main_url)

# filter html
soup = BeautifulSoup(page.read(), 'html.parser')
soup

game_status = soup.find('span', class_='game-time time status-detail')
game_status




# # get team names
# team_data = soup.find_all('article', class_= 'sub-module scoring-summary')
# team_data2 = team_data[0].find_all('th', class_='right')
# team1 = team_data2[0].text
# team2 = team_data2[1].text

# # get play info
# data = soup.find_all('tbody', class_= 'plays')
# data2 = data[0].find_all('td')

# if data2[0].text == 'No scoring plays available':
#     print("No scoring play yet")
#     sleep(120)
# else:
#     text_info = data2[3].text

#     # get score info
#     score = data2[4].text
#     score2 = data2[5].text

#     score_paly_txt = f"{text_info} Score is now {team1} {score} - {team2} {score2}"

#     if score_paly_txt in scoring_play_ls:
#         print("No new play")
#         game_data = scoreboard(todays_date.year, todays_date.month, todays_date.day, 'Cubs', 'Cubs')
#         game_filter = f"{todays_date.year}_{todays_date.month:02d}_{todays_date.day}_"
#         game_data2 = next(v for k,v in game_data.items() if game_filter in k)
#         sleep(120)
#     else:
#         print(f"{text_info} Score is now {team1} {score} - {team2} {score2}")
#         api.update_status(f"{text_info} Score is now {team1} {score} - {team2} {score2}")
#         scoring_play_ls.append(score_paly_txt)
#         team1_score_ls.append(score)
#         team2_score_ls.append(score2)
#         game_data = scoreboard(todays_date.year, todays_date.month, todays_date.day, 'Cubs', 'Cubs')
#         game_filter = f"{todays_date.year}_{todays_date.month:02d}_{todays_date.day}_"
#         game_data2 = next(v for k,v in game_data.items() if game_filter in k)
#         sleep(120)